*{
  margin: 0;
}
.block{
  width: 70%;
  margin: 15%;
}
body{
  text-align: center;
}
label {
  display: inline-block;
  text-align: right;
}
input,textarea{
  vertical-align: top;
}
h1{
  margin: 1rem;
}
button{
  margin-bottom: 1rem;
}
#result{
  width: 70%;
  margin-left: 15%;
}
#background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./star.png);
  opacity: .6;
  z-index: -1;
}

label, input, select{
  vertical-align: middle;
}
.mui-switch {
  width: 52px;
  height: 31px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }
  .mui-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
  .mui-switch:checked {
    border-color: #007bff;
    box-shadow: #007bff 0 0 0 16px inset;
    background-color: #007bff; }
    .mui-switch:checked:before {
      left: 21px; }
  .mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s; }
    .mui-switch.mui-switch-animbg:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-animbg:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      background-color: #007bff;
      transition: border-color 0.4s, background-color ease 0.4s; }
      .mui-switch.mui-switch-animbg:checked:before {
        transition: left 0.3s; }
.repeat{
  position: absolute;
  right: 1rem;
}
