*{
  margin: 0;
}
.block{
  width: 70%;
  margin: 15%;
}
body{
  text-align: center;
}
label {
  display: inline-block;
  width: 100px;
  text-align: right;
}
input,textarea{
  vertical-align: top;
}
h1{
  margin: 1rem;
}
button{
  margin-bottom: 1rem;
}
#result{
  width: 70%;
  margin-left: 15%;
}